/* Universal */
body {
  overflow: hidden;
}

/* Control Panel */
/* .control-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 13vw;
  background-color: hsl(0, 0%, 19%);

}
.bottons {
  justify-content: center;
  align-items: center;
} */
.control-panel {
  position: relative;
  height: 100vh;
  width: 10vw;
  background-color: hsl(0, 0%, 19%);
}
/* Why the relative-absolute doesn't work? */
.buttons {
  position: absolute;
  top: 5vh;
  left: 0.9vw;
}
.icons {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 8px;
  border: 1.5px #64748b solid;
  /* Why cursor doesn't work? */
  cursor: pointer;
  margin-bottom: 0.5vh;
}

/* Canvas */
#canvas-container {
  height: 720px;
}
.canvas {
  border: 1px black dotted;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#canvas-draft {
  background-color: transparent;
}