/* Universal */
body {
  overflow: hidden;
}
/* Canvas */
#canvas-container {
  height: 87vh;
  width: 100%;
}
.canvas {
  border:2px black solid;
  position:absolute;
}
.canvas {
  border: 2px black solid;
  position: absolute;
}
#canvas-draft {
  background-color: transparent;
}
/* Control Panel */
.control-panel {
  position: relative;
  /* display: flex; 
  align-items: center; */
  height: 13vh;
  width: 100vw;
  background-color: hsl(0, 0%, 19%);
}
.buttons {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3vw;
    justify-content: left;
    padding: 1.3vh 0 1vh 3vw;
    width: 30vw;
}
.icons {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 8px;
  border: 1.5px #64748b solid;
  cursor: pointer;
  margin-bottom: 1vh;
}

